.spoiler {  // Spoiler
  .input-container {
    position: relative;
    .arrow-container {
      position: absolute;
      top: 50%;
      right: 3%;
      transform: translateY(-50%);
      .arrow {
        display: block;
        width: 10px;
        height: 10px;
        border: solid black;
        border-width: 0 2px 2px 0;
        padding: 2px;
        cursor: pointer;
        &:hover {
          border-color: red;
          scale: 1.4;
        }
      }
      .up {
        transform: rotate(-135deg);
      }
      .down {
        transform: rotate(45deg);
      }
    }
  }
}